<header>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#">
                <i class="fab fa-instagram fa-3x"></i>
            </a>
            <div class="d-flex justify-content-end ">
                <p style="margin:0px;" id="welcome"> 
                	<img style="width:60px;" src="<%= instagram[0].user.profile_picture %>" alt="<%= instagram[0].user.full_name %>" class="rounded-circle"> 
                	<%= instagram[0].user.full_name %>
                </p>
            </div>
        </div>
    </nav>
</header>



